body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a,
.address-contacts {
  text-decoration: none;
  font-style: normal;
}

:root {
  --main-color: #212121;
  --color-text: #757575;
  --main-text-height: 1.62;
  --text-height: 1.71;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

/* ------------------------HEADER---------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header-soc-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-soc-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  fill: #757575;
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-contacts:focus use {
  fill: #2196F3;
}

.header-soc-icon {
  fill: #757575;
}

.header-soc-item:hover use,
.header-soc-item:focus use {
  fill: #2196F3;
}

/* ------------------------NAVIGATION---------------------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

}

.logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 70;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 43px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.nav:hover, .nav:focus,
.nav-contacts:hover, .nav-contacts:focus,
.address-contacts:hover, .address-contacts:focus,
.header-soc-icon:focus {
  color: #2196f3;
}

.section {
  padding-top: 46px;
}


.section-projects {
  padding-top: 81px;
  padding-bottom: 107px;
}

/* ------------------------BUTTONS---------------------------- */


.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 25px;
}

.btn:focus, .btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
  background: #2196F3;
}

/* ------------------------BUTTONS---------------------------- */

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0;
}

.btn {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-style: none;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ------------------------PROJECTS---------------------------- */


.projects {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}

.project-item {
  background: #FFFFFF;
}

.project-item:hover, .project-item:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.bottom-title {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ------------------------FOOTER---------------------------- */


.container-footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer-logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-connect {
  padding-left: 0;
}

.footer-connect > li:first-child {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-contacts {
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
}

.address-list {
  padding: 0;
  max-width: 207px;
}

.footer-address {
  display: inline-flex;
  align-items: center;
}

.footer-block {
  display: flex;
}

.social-title {
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  width: 206px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.footer-social {
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
  margin-top: -20px;
}

.footer-social-logo {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
}

.footer-social-logo:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
}

.social-item:hover {
  background-color: #2196F3;
}

.social-item:hover, .social-item:focus {
  background-color: #2196F3;
}