body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a,
.address-contacts {
  text-decoration: none;
  font-style: normal;
}

:root {
  --main-color: #212121;
  --color-text: #757575;
  --main-text-height: 1.71;
  --text-height: 1.14;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(4) {
  background: #F5F4FA;
}

/* ------------------------HEADER---------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header-soc-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-soc-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  fill: #757575;
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-contacts:focus use {
  fill: #2196F3;
}

.header-soc-icon {
  fill: #757575;
}

.header-soc-item:hover use,
.header-soc-item:focus use {
  fill: #2196F3;
}

/* ------------------------NAVIGATION---------------------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

}

.logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 70;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 43px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.nav:hover, .nav:focus,
.nav-contacts:hover, .nav-contacts:focus,
.address-contacts:hover, .address-contacts:focus,
.header-soc-icon:focus {
  color: #2196f3;
}

/* ------------------------HAT---------------------------- */

.hat {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hat-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  min-width: 216px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.container-hat {
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4) ) ,
   url(/goit-markup-hw-04/images/studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
}

/* ------------------------PECULIARITIES---------------------------- */

.block-pec {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.section-pec {
  padding-bottom: 0;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  padding-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.rectangle {
  width: 279px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.rectangle-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------WE-DO---------------------------- */

.container-we-do-img {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ------------------------TEAM---------------------------- */

.container-team {
  background: #F5F4FA;
  width: 1519px;
  height: 648px;
}

.team {
  display: flex;
  gap: 30px;
  padding: 0;
}

.team > li {
  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 10px;
}

.member-skill {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  padding-bottom: 16px;
}

.members {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.member-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #AFB1B8;
}

.member-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-soc-item:focus {
  fill: #FFFFFF;
  background-color: #2196f3;
}

.member-soc-link:hover, .member-soc-link:hover a {
  background-color: #2196f3;
  fill: #FFFFFF;
}

.member-soc-item {
  fill: #AFB1B8;
}

/* ------------------------CLIENTS---------------------------- */

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.client-item:hover a, .client-item:focus a {
  fill: #2196F3;
}

.client-item:hover, .client-item:focus {
  cursor: pointer;
  border-color: #2196F3;
}

.clients-logo {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
}

.clients-logo:focus, .clients-logo:hover {
  fill: #2196f3;
}

/* ------------------------FOOTER---------------------------- */

.container-footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer-logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-connect {
  padding-left: 0;
}

.footer-connect > li:first-child {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-contacts {
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
}

.address-list {
  padding: 0;
  max-width: 207px;
}

.footer-address {
  display: inline-flex;
  align-items: center;
}

.footer-block {
  display: flex;
}

.social-title {
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  width: 206px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.footer-social {
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
  margin-top: -20px;
}

.footer-social-logo {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
}

.footer-social-logo:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
}

.social-item:hover {
  background-color: #2196F3;
}